@import "tailwindcss";
@layer theme, base, components, utilities;

/* mat-mdc-notched-outline_notch{
  border-style: none;
} */

 mat-toolbar{
    background-color: black;
    height: 48px;
    font-size: medium;
} 
a {
    
    color: white;
}

/* .table-wrapper{
    margin: auto;
    border: 2px black solid;
    border-radius: 25px;
    overflow: hidden; 
    width: 40%;
} */

 .mat-mdc-table {
    border-collapse: collapse;
}

/* .body-header-wrapper {
  margin:2%;
  border: 2px black solid;
} */